    body {
        background-color: #000000;
          margin: 0;
          padding: 0;
         
        }
        @font-face {
          font-family: 'winner-sans';
          src: url('font/sportsfonts-winner-sans-cond-regular.otf') format('truetype');
        }
        @font-face { 
          font-family: 'artistryjnl';
          src: url('font/artistryjnl.ttf') format('truetype');
        }
        @font-face { 
          font-family: 'botton';
          src: url('font/URBANO\ Regular.ttf') format('truetype');
        }
 
  
/**CELULAR **/
@media (max-width: 767px) {
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
       .header{
          width: 100%;
          z-index: 100;
      background:#000000;
      padding-bottom: 7%;
        }
        .titulo{
            background:#000000;
            width: 80%;
        }
        .titulo img{
            padding-top: 28px;
        float: right;
        padding-right: 10px;
        width: 30px; 
        }
        .titulo h2{
        float: left;
        color:#23ca0d; 
        padding-left: 23px;
        padding-top: 17px ;
        font-family: 'winner-sans', sans-serif;
        font-size: 19px; transform: scaleY(1.5);
        font-weight: 100;
        letter-spacing: 1px;
        }
        .menu-wrap {
          position: absolute;  /* Cambia 'fixed' a 'absolute' */
          top: 0;
          right: 0;
          z-index: 1;
        }
        .menu-wrap .toggler {
          position: absolute;
          top: 20px;
          right: 5px;
          z-index: 2;
          cursor: pointer;
          width: 50px;
          height: 50px;
          opacity: 0;
        }
        .menu-wrap .hamburger {
          position: absolute;
          top: 20px;
          right: 5px;
          z-index: 1;
          width: 50px;
          height: 50px;
          padding: 1px;
          background: #ffffff;
          display: flex;
          align-items: center;
         justify-content: center; 
        }
        /* Hamburger Line */
        .menu-wrap .hamburger > div {
          position: relative;
          width: 60%;
          height: 3%;
          background-color: #000000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s ease;
        }
        /* Hamburger Lines - Top & Bottom */
        .menu-wrap .hamburger > div:before,
        .menu-wrap .hamburger > div:after {
          content: '';
          position: absolute;
          z-index: 1;
          top: -10px;
          width: 100%;
          height: 2px;
          background: inherit;
        }
        /* Moves Line Down */
        .menu-wrap .hamburger > div:after {
          top: 10px;
        }
        /* Toggler Animation */
        .menu-wrap .toggler:checked + .hamburger > div {
          transform: rotate(135deg);
        }
        /* Turns Lines Into X */
        .menu-wrap .toggler:checked + .hamburger > div:before,
        .menu-wrap .toggler:checked + .hamburger > div:after {
          top: 0;
          transform: rotate(90deg);
        }
        /* Rotate On Hover When Checked */
        .menu-wrap .toggler:checked:hover + .hamburger > div {
          transform: rotate(225deg);
        }
        /* Show Menu */
        .menu-wrap .toggler:checked ~ .menu {
          visibility: visible;
        }
        .menu-wrap .toggler:checked ~ .menu > div {
          transform: translateX(0);
          transition-duration: 0.5s;
          background: rgb(255, 255, 255);
        }
        .menu-wrap .menu {
          position: fixed;top: 0;right: 0;width: 100%;height: 100%;
          visibility: hidden; overflow: hidden;display: flex;align-items: center;justify-content: flex-end;
        }
        .menu-wrap .menu > div {
          background: rgba(255, 255, 255, 0);
          width: 100%;
          height: 100%;
          display: flex;
          flex: none;
          align-items: center;
          justify-content: center;
          transition: all 0.4s ease,background 0.75s ease; 
          transform: translateX(100%);
        }
        .menu-wrap .menu > div > div {
          text-align: center;max-width: 90vw;max-height: 100vh;opacity: 1;transition: opacity 0.4s ease;
        }
        .menu-wrap .menu > div > div > ul > li {
          list-style: none;color: #333;font-size: 1.5em; padding: 1em;
        } 
        .menu-wrap .menu > div > div > ul > li > a {
          color: inherit;text-decoration: none;transition: color 0.4s ease;
        }
        .menu-wrap .menu > div > div > ul > li > a:hover {
          color: #ed1c24;
        } 
        #parrafoportada{
          margin-left: 6%;margin-top: -90%;font-size: 60px;color: #e7e4e4;font-family: 'artistryjnl'; font-weight: bold;letter-spacing: 5px;
      } 
      .imagenpelota img{
        width: 100%;

      }  
  .imagenpelota::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Ajusta esto para cambiar dónde termina el desvanecimiento */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
}
.imagenpelota {
  position: relative;
}
#mi-boton {
  display: inline-block;
  padding: 13px 1px; /* Aumenta el padding para un botón más grande */
  font-size: 22px; /* Aumenta el tamaño de la fuente para un texto más grande */
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #1af05a;
  background-color: #039203;
  border: none;
  border-radius: 0px;
  box-shadow: 5px 5px #0f4904d8;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: color 0.5s;
  width: 150px; /* Ajusta el ancho del botón */
  font-family: 'botton';
  margin-top: 33%;
  margin-left: 8%;

}

#mi-boton:hover {
  color: #000;
}

#mi-boton:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
  /**BORARRRRRRRRRRRRRRRRRRRRRRRRR **/  
  @keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
 
 .main {
   display: flex;
   justify-content: space-around;
   padding: 0px;
   font-family: Arial, sans-serif;
   background: #ffffff;
   color: #0dd127;
   animation: fadeIn 2s;
   margin: 0;
   margin-top: 25%; 
  padding-bottom: 25%;
  
 }
 
 .container {
   border: 1px solid #ccc;
   border-radius: 10px;
   padding: 20px;
   width: 200px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   background: #006400;
 }
 
 .title {
   text-align: center;
   margin-bottom: 20px;
   color: #ffd700;
 }
 
 .ranking {
   display: flex;
   flex-direction: column;
 }
 
 .player {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #ccc;
   padding: 10px 0;
 }
 
 .player:last-child {
   border-bottom: none;
 }
 #parrafoPRIME{

 font-size: 50px;
 color: #000000;
 font-family: 'artistryjnl';
 font-weight: bold;
 letter-spacing: 3px;
 
}
.ruleta {
        display: flex;
        overflow: hidden;
        width: 100vw;
        height: 440px;
        border-radius: 3px;  /* Bordes redondeados */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);  /* Sombra suave */
        margin-bottom: 10%;
    }
    .imagen {
        flex: 0 0 100%;
        transition: transform 0.5s;
        object-fit: cover;  /* Asegura que las imágenes se ajusten correctamente */
    }
    .imagen p{
      font-size: 20px;
      color: black;
      font-weight: bold;
      text-align: left;
      margin-top: 4px;
    }
    .imagen h4{
     font-size: 12px; 
     color: rgb(68, 68, 68);
     text-align: left;
     margin-top: -16px;
    }
    .headerJugador{
      padding: 0;
      
    }
    .headerJugador img{
     width: 75%;   
     margin-top: 6px;
     margin-left: 6px;
    }
    .imagenicono{
      float: left;
      width: 15%;
      padding: 0;
    }
    .imagenicono3{
      float: left;
      width: 15%;
      padding: 0;
    }
    .texticono{
      padding: 0;
      float: left;
      width: 75%;
      margin-left: 5%;
      margin-right: 5%;
    }
    .imagen table{
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }
  th {
      background-color: #4CAF50;
      color: white;
  }
  .imagenicono3 img{
  filter: hue-rotate(90deg);
  }
  .uno {
    display: none; /* Esto oculta el menú en PC */
  }
  .dos {
    display: none; /* Esto oculta el menú en PC */
  }
  .imagenderecha img{
    display: none; /* Esto oculta el menú en PC */
  }
  .imagenderecha{
    display: none; /* Esto oculta el menú en PC */
  }
}
/**PC**/
@media (min-width: 991px) {
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
       .header{
        display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          z-index: 100;
      background:#000000;
      padding-bottom:2%;
      position: fixed;
      top: 0;
        }
        .titulo{
            background:#000000;
            width: 73%;
            margin-top: -3%;
        }
        .titulo img{
          display: none;
        }
        .uno h2{
        color:#23ca0d; 
        font-family: 'winner-sans', sans-serif;
        font-size: 25px; transform: scaleY(1.5);
        font-weight: 100;
        letter-spacing: 2px;
        }
        .uno{
         float: left;
         background-color: #000000;
         margin-top: -2%;
        }
        .dos{
          float: right;
          background-color: rgb(0, 0, 0);
          padding-right: 3%;
          margin-top: 1%;
        }
      
        .menu-wrap {
          display: none; /* Esto oculta el menú en PC */
        }
        a {
          display: inline-block;
          font-family: Arial, sans-serif;
          font-size: 15px;
          text-decoration: none;
          color: #ffffff;
          transition: all 0.3s ease;
        }
        .imagenderecha img{
          width: 40px;
        }
        .imagenderecha{
        width: 2%;
        margin-left: 3%;
       margin-top: 1%;
        }
        .imagenpelota img{
          width: 80%;
  
        }  
    .imagenpelota::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Ajusta esto para cambiar dónde termina el desvanecimiento */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  }
  .imagenpelota {
    position: relative;
  }

}
